@import '../abstract/_variaveis'
footer
    margin-top: 2em
    text-align: center
    background-color: #124076
    color: white
    padding: .7em
    font-family: $fonte-titulo
    strong
        font-weight: 500
        color: $laranja-claro
