@import '../abstract/_variaveis'
.conteudo-funcionalidades
    width: 95%
    color: $branco
    margin: 1em auto
    height: fit-content
    display: flex
    flex-direction: column
    gap: .5em
    .conteudo-funcionalidades-titulo
        text-align: start
    .conteudo-funcionalidades-lista
        display: flex
        flex-direction: column
        list-style: none
        li
            i
                font-size: .7em