@import '../abstract/_variaveis'

.preco__final__geral
    background-color: $azul-claro
    margin-top: 1em
    max-width: 90%
    margin: 1em auto
    font-family: $fonte-primaria
    font-weight: 800
    padding: .4em
    text-align: center
    box-shadow: 0 0 4px 2px $preto
    display: flex
    flex-direction: column
    row-gap: .5em
    h3
        font-size: 1.5em
        text-transform: uppercase
        color: $branco
    p
        font-size: 1.5em
        color: $branco
        text-shadow: 0 0 2px $preto
        background-color: $laranja-claro