@import '../abstract/_variaveis'
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    min-height: 100vh
    // background: $gradientEscuro
    // animation: $corBackground
    // background-size: 500% 500%
    font-family: $fonte-secundaria
    overflow-x: hidden
    display: grid
    grid-template-rows: auto 1fr
    scroll-behavior: smooth
[data-tema="dark"]
    background: $gradientEscuro
    animation: $corBackground
    background-size: 500% 500%
    transition: .6s
[data-tema="light"]
    background: $gradientClaro
    animation: $corBackground
    background-size: 500% 500%
    transition: .6s
button
    cursor: pointer