@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap");
@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  scroll-behavior: smooth;
}

[data-tema=dark] {
  background: linear-gradient(45deg, #0b11b9, #0c1194, #0a0e70, #100244, #0a0229, #0a0229);
  animation: cores 6s ease infinite;
  background-size: 500% 500%;
  transition: 0.6s;
}

[data-tema=light] {
  background: linear-gradient(45deg, #878bf5, #5e63ff, #393fe2, #2228ee, #0e15db, #040ab9);
  animation: cores 6s ease infinite;
  background-size: 500% 500%;
  transition: 0.6s;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.cabecalho {
  display: grid;
  grid-template-columns: 1fr 20%;
  padding: 0.5em;
}
.cabecalho .cabecalho-link {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  text-decoration: none;
}
.cabecalho .cabecalho-link .cabecalho-link-imagem {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabecalho .cabecalho-link .cabecalho-link-imagem img {
  width: 75%;
  display: block;
  max-width: 40px;
}
.cabecalho .cabecalho-link .cabecalho-link-titulo {
  color: #fff;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cabecalho .cabecalho-link .cabecalho-link-titulo h1 {
  margin-top: 0.2em;
}
.cabecalho .cabecalho-link-bars {
  background: transparent;
  border: none;
  color: #fff;
}
.cabecalho .cabecalho-link-bars i {
  font-size: 2em;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.15em;
}
.cabecalho .cabecalho-links {
  display: none;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.offcanvas {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  display: grid;
  grid-template-rows: 40px 180px 1fr 40px;
  grid-template-columns: 1fr 20%;
  padding: 0.5em 0.8em 0.2em 0.8em;
  display: none;
  z-index: 4;
}
.offcanvas .offcanvas-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  margin-top: 1em;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item {
  padding: 0.5em 0;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item:active {
  background-color: #D21312;
  border-radius: 6px;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0 0.2em 0 0.2em;
  position: relative;
  width: 100%;
}
.offcanvas .offcanvas-menu .offcanvas-menu-item a i {
  margin-right: 0.15em;
}
.offcanvas .offcanvas-btnFechar {
  grid-column: 2/3;
  grid-row: 1/2;
  cursor: pointer;
  font-size: 1.6em;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.offcanvas .offcanvas-titulo {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #fff;
  font-size: 1.8em;
  align-self: center;
  margin-left: 0.4em;
}
.offcanvas .offcanvas-titulo i {
  margin-left: 0.2em;
}
.offcanvas .offcanvas-tema {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
}
.offcanvas .offcanvas-tema #alterarTema {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 2px #000;
  box-shadow: 1px 1px 2px 1px #000;
  background: transparent;
  width: 60px;
  height: 30px;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  transition: 0.6s ease;
  cursor: pointer;
}
.offcanvas .offcanvas-tema #alterarTema::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  background-color: #ED2B2A;
  box-shadow: 0 0 3px 1px #000;
  transition: 0.6s ease;
}
.offcanvas .offcanvas-tema #alterarTema:checked {
  background-color: #100244;
}
.offcanvas .offcanvas-tema #alterarTema:checked::before {
  transform: translate(100%);
  transition: 0.6s ease;
  background-color: #D21312;
}
.offcanvas .offcanvas-erro {
  grid-column: 1/3;
  grid-row: 4/5;
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D21312;
  cursor: pointer;
}
.offcanvas .offcanvas-erro i {
  margin-left: 0.4em;
}

.light {
  background-color: #0b11b9;
}

.dark {
  background-color: #100244;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.conteudo-banner {
  max-width: 90%;
  margin: 0 auto;
}
.conteudo-banner .conteudo-banner-texto {
  text-align: center;
  font-size: 2em;
  line-height: 1.05;
  font-family: "Passion One", sans-serif;
  color: #fff;
  margin-top: -25px;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.conteudo-funcionalidades {
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  max-width: 90%;
  height: 60px;
  margin: 0 auto;
  margin-top: 0.8em;
  color: #D21312;
  text-shadow: 2px 2px 3px #000;
  display: flex;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.conteudo-ancora {
  font-size: 3.5em;
  color: #fff;
  margin: 0 auto;
  display: flex;
  height: 76px;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 50px;
  scroll-behavior: smooth;
}
.conteudo-ancora i {
  height: -moz-fit-content;
  height: fit-content;
  animation: flutuar 1.2s ease infinite;
  position: absolute;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.conteudo-formulario {
  background-color: #D21312;
  display: grid;
  grid-template-columns: 80px 1fr;
  max-width: 95%;
  margin: 0 auto;
  font-weight: 600;
  padding: 0.8em;
  row-gap: 1.2em;
  margin-top: 2em;
  color: #fff;
}
.conteudo-formulario input, .conteudo-formulario select, .conteudo-formulario button {
  outline: none;
  border: solid 4px #000;
  box-shadow: 0 0 1px 1px #000;
}
.conteudo-formulario input:focus, .conteudo-formulario select:focus, .conteudo-formulario button:focus {
  box-shadow: 0 0 3px 2px #000;
}
.conteudo-formulario input, .conteudo-formulario select {
  background-color: #ED2B2A;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 0.4em;
  padding: 0 0.5em;
  font-size: 1.1em;
  height: 30px;
}
.conteudo-formulario label {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
}
.conteudo-formulario fieldset {
  border: none;
}
.conteudo-formulario .conteudo-formulario-produto {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}
.conteudo-formulario .conteudo-formulario-quantidade {
  grid-column: 1/2;
  padding-right: 0.5em;
}
.conteudo-formulario .conteudo-formulario-quantidade input {
  font-size: 0.9em;
  width: 100%;
}
.conteudo-formulario .conteudo-formulario-categoria {
  grid-column: 2/3;
}
.conteudo-formulario .conteudo-formulario-categoria select {
  margin-top: 0.3em;
  width: 100%;
}
.conteudo-formulario .conteudo-formulario-btn {
  grid-column: 1/3;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.5em 0;
  background-color: #100244;
  border: none;
  border-radius: 6px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  box-shadow: 2px 2px 4px #000;
  margin-top: 0.5em;
  cursor: pointer;
}
.conteudo-formulario fieldset {
  position: relative;
}
.conteudo-formulario fieldset .conteudo-formulario-produto-info .conteudo-formulario-produto-info-btn {
  position: absolute;
  top: 59%;
  right: 1.5%;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.conteudo-formulario fieldset .conteudo-formulario-produto-info .conteudo-formulario-produto-info-btn::before {
  content: "Informe o nome do produto";
  background-color: #ED2B2A;
  box-shadow: 2px 2px 3px 1px #000;
  color: #fff;
  width: 100px;
  position: absolute;
  top: -260%;
  left: -360%;
  padding: 0.4em;
  border-radius: 6px;
  transition: 0.6s ease;
  opacity: 0;
  z-index: -5;
  display: none;
}
.conteudo-formulario fieldset .conteudo-formulario-produto-info .conteudo-formulario-produto-info-btn::after {
  content: "";
  position: absolute;
  top: -50%;
  left: 15%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  opacity: 0;
  transition: 0.6s ease;
  z-index: -5;
  display: none;
}
.conteudo-formulario fieldset .conteudo-formulario-produto-info .conteudo-formulario-produto-info-btn:hover::before {
  opacity: 1;
  z-index: 5;
  display: block;
  animation: aparecerBaloes 0.6s ease;
}
.conteudo-formulario fieldset .conteudo-formulario-produto-info .conteudo-formulario-produto-info-btn:hover::after {
  opacity: 1;
  z-index: 5;
  display: block;
  animation: aparecerBaloes 0.6s ease;
}
.conteudo-formulario fieldset .conteudo-formulario-quantidade-info .conteudo-formulario-quantidade-info-btn {
  position: absolute;
  top: 59%;
  right: 14%;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.conteudo-formulario fieldset .conteudo-formulario-quantidade-info .conteudo-formulario-quantidade-info-btn::before {
  content: "Informe a quantidade, utilize como unidade de medida: un, g ou kg (2un, 500g, 2.5kg)";
  background-color: #ED2B2A;
  box-shadow: 2px 2px 3px 1px #000;
  color: #fff;
  width: 200px;
  position: absolute;
  top: -320%;
  left: -300%;
  padding: 0.4em;
  border-radius: 6px;
  transition: 0.6s ease;
  opacity: 0;
  display: none;
}
.conteudo-formulario fieldset .conteudo-formulario-quantidade-info .conteudo-formulario-quantidade-info-btn::after {
  content: "";
  position: absolute;
  top: -40%;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
  opacity: 0;
  transition: 0.6s ease;
  display: none;
}
.conteudo-formulario fieldset .conteudo-formulario-quantidade-info .conteudo-formulario-quantidade-info-btn:hover::before {
  display: block;
  opacity: 1;
  z-index: 5;
  animation: aparecerBaloes 0.6s ease;
}
.conteudo-formulario fieldset .conteudo-formulario-quantidade-info .conteudo-formulario-quantidade-info-btn:hover::after {
  display: block;
  opacity: 1;
  z-index: 5;
  animation: aparecerBaloes 0.6s ease;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.rodape {
  background-color: #D21312;
  padding: 0.5em 1em;
  font-size: 1.1em;
  text-align: center;
  margin-top: 1.5em;
  color: #fff;
  font-weight: 400;
  line-height: 1.25;
  height: -moz-fit-content;
  height: fit-content;
}
.rodape strong {
  color: #0a0229;
  font-weight: 800;
  text-transform: uppercase;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.conteudo-lista {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  row-gap: 1em;
}
.conteudo-lista .conteudo-lista-item {
  max-width: 95%;
  margin: 0 auto;
  background-color: #D21312;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  position: relative;
}
.conteudo-lista .conteudo-lista-item h3 {
  font-size: 1.4em;
  text-align: center;
  padding: 0.2em 0;
  margin-bottom: 0.5em;
}
.conteudo-lista .conteudo-lista-item ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
  padding: 0 0.5em 1.5em 0.5em;
}
.conteudo-lista .conteudo-lista-item ul .concluido {
  background-color: #168040 !important;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto {
  background-color: #100244;
  border-radius: 4px;
  font-size: 0.9em;
  width: 100%;
  text-shadow: 1px 1px 2px #000;
  display: grid;
  grid-template-rows: 50px auto auto;
  position: relative;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto {
  display: grid;
  grid-template-columns: 20% 1fr 27% 15%;
  width: 100%;
  height: 100%;
  padding: 0 0.3em 0 0.2em;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-quantidade {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95em;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-produto {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.2em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-inserirPreco {
  grid-column: 3/4;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 0.5em;
  background-color: #17025f;
  height: 90%;
  align-self: center;
  border-radius: 6px;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-inserirPreco label {
  margin-bottom: 0.3em;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-inserirPreco input {
  width: 100%;
  font-size: 1.05em;
  height: 20px;
  padding: 0 0.2em;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-inserirPreco button {
  position: absolute;
  top: 45%;
  right: 2%;
  font-size: 1.1em;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #168040;
  color: #fff;
  cursor: pointer;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-precoInserido {
  display: none;
  grid-column: 3/4;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  align-self: center;
  justify-self: center;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-precoInserido p {
  font-weight: bold;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-precoInserido p:first-child {
  font-size: 0.5em;
  position: absolute;
  top: 10%;
  white-space: nowrap;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-precoInserido p:nth-child(2) {
  font-size: 0.9em;
  position: absolute;
  top: 30%;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-precoInserido button {
  font-size: 0.6em;
  font-weight: bold;
  width: 100%;
  position: absolute;
  bottom: 0%;
  border-radius: 0 0 6px 6px;
  background-color: #000;
  border: none;
  color: #fff;
  padding: 0.2em 0;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-botoes {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  height: 85%;
  overflow: hidden;
  padding: 0.2em;
  gap: 0.1em;
  grid-column: 4/5;
  align-self: center;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-botoes button {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 2px 1px #000;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-botoes .p-botoes-concluir {
  font-size: 0.6em;
  font-weight: bold;
  background-color: #168040;
  color: #fff;
  grid-column: 1/3;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-botoes .p-botoes-excluir {
  font-size: 0.7em;
  grid-column: 1/2;
  background-color: #D21312;
  color: #fff;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-produto .p-botoes .p-botoes-alterar {
  font-size: 0.7em;
  grid-column: 2/3;
  background-color: #dbc500;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-alterar-produto {
  background-color: #ED2B2A;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 60px 1fr;
  row-gap: 0.6em;
  box-shadow: 0px 0px 2px 1px #000;
  bottom: 0;
  left: 0;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-alterar-produto fieldset {
  border: none;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-alterar-produto fieldset input, .conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-alterar-produto fieldset select {
  width: 100%;
  height: 25px;
  padding: 0 0.5em;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-alterar-produto .novo-nome-produto {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-alterar-produto .novo-nome-produto input {
  width: 100%;
}
.conteudo-lista .conteudo-lista-item ul .conteudo-lista-item-produto .conteudo-alterar-produto .salvar-alteracao-produto {
  grid-column: 1/3;
  font-size: 1.2em;
  padding: 0.4em 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #168040;
  border-radius: 4px;
  border: none;
  color: #fff;
}
.conteudo-lista .conteudo-lista-item .conteudo-lista-item-excluirLista {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  font-size: 1em;
  border-radius: 50%;
  background-color: #fff;
  color: #D21312;
  border: none;
  box-shadow: 0 0 3px 2px #000;
  cursor: pointer;
}
.conteudo-lista .conteudo-lista-item .conteudo-lista-item-precoFinal {
  background-color: #ED2B2A;
  box-shadow: 0 0 3px 1px #000;
  padding: 0.4em;
}
.conteudo-lista .conteudo-lista-item .conteudo-lista-item-precoFinal p {
  text-align: center;
}
.conteudo-lista .conteudo-lista-item .conteudo-lista-item-precoFinal p:first-child {
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.conteudo-lista .conteudo-lista-item .conteudo-lista-item-precoFinal p:last-child {
  font-size: 2.2em;
  font-family: "Passion One", sans-serif;
}

.conteudo-lista-salvarCompra {
  display: flex;
  background-color: #168040;
  color: #fff;
  width: 95%;
  font-size: 1.4em;
  font-weight: bold;
  max-width: 95%;
  text-align: center;
  padding: 0.4em 0;
  justify-content: center;
  z-index: 1;
  align-self: center;
  margin: 1em auto 0 auto;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.conteudo-precoFinalCompra {
  background-color: #ED2B2A;
  color: #fff;
  max-width: 95%;
  margin: 1em auto 0 auto;
  font-family: "Passion One", sans-serif;
  padding: 0.5em;
  box-shadow: 1px 1px 4px 2px #000;
}
.conteudo-precoFinalCompra .conteudo-precoFinalCompra-titulo {
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}
.conteudo-precoFinalCompra .conteudo-precoFinalCompra-preco {
  text-align: center;
  font-size: 2.2em;
  font-weight: 600;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.caixa-mensagem {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 0.5em;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  background-color: #D21312;
  box-shadow: 2px 2px 4px 2px #000;
  color: #fff;
  row-gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-radius: 6px;
}
.caixa-mensagem p {
  grid-column: 1/3;
  font-size: 1.3em;
  padding: 0 0.2em;
}
.caixa-mensagem button {
  width: 90%;
  height: 90%;
  font-size: 1.2em;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  background-color: #100244;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 0.3em;
  cursor: pointer;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.caixa-finalizar-compra {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #D21312;
  font-size: 1.4em;
  line-height: 1.05;
  font-family: "Passion One", sans-serif;
  color: #fff;
  width: 80%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 0.5em;
}
.caixa-finalizar-compra label, .caixa-finalizar-compra input {
  grid-column: 1/3;
}
.caixa-finalizar-compra input {
  height: 30px;
  font-size: 0.8em;
  padding: 0 0.3em;
}
.caixa-finalizar-compra button {
  font-weight: bold;
  padding: 0.5em 0;
  width: 95%;
  font-size: 0.7em;
  line-height: 1;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.historico-de-compras {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.historico-de-compras .historico-de-compras-titulo {
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  margin: 0.5em 0;
}
.historico-de-compras .historico-de-compras-lista {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  color: #fff;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item button {
  width: 100%;
  font-family: "Passion One", sans-serif;
  position: relative;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 25%;
  padding: 0.5em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item button p {
  grid-column: 1/2;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item button p:nth-child(1) {
  font-size: 1.2em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item button p:nth-child(2) {
  text-transform: uppercase;
  font-size: 1.8em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item button div {
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item button div i {
  position: absolute;
  top: -40%;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .active {
  display: block !important;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela {
  display: none;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela div {
  display: grid;
  grid-template-columns: 1fr 25%;
  padding: 0.4em 0.5em;
  background-color: #0b11b9;
  margin-top: 0.5em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela div p {
  padding: 0.4em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela div p:nth-child(1) {
  background-color: #FC4100;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela div p:nth-child(2) {
  background-color: #2C4E80;
  text-align: center;
  font-size: 0.95em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  font-size: 0.8em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item {
  background-color: #040ab9;
  padding: 0.5em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item h4 {
  font-size: 1.4em;
  text-align: center;
  padding: 0 0 0.4em 0;
  text-transform: uppercase;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table tbody tr {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table tbody tr td {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border: solid 1px #000;
  padding: 0.2em;
  border-collapse: collapse;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table thead tr {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  white-space: nowrap;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table thead tr td {
  background-color: #FC4100;
  border: solid 1px #000;
  padding: 0.2em;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table tbody tr {
  background-color: #00215E;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table tbody tr:last-child td:nth-child(1) {
  grid-column: 1/4;
}
.historico-de-compras .historico-de-compras-lista .historico-de-compras-lista-item .historico-de-compras-lista-item-tabela ul .historico-de-compras-lista-item-tabela-item table tbody tr:nth-child(even) {
  background-color: #2C4E80;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
.conteudo-compras-semana {
  max-width: 95%;
  margin: 0 auto;
}
.conteudo-compras-semana .conteudo-compras-semana-titulo {
  font-size: 1.8em;
  font-family: "Passion One", sans-serif;
  line-height: 1.05;
  text-align: center;
  color: #fff;
  margin: 1em 0;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario {
  background-color: #D21312;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  border-radius: 6px;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  row-gap: 0.8em;
  overflow: hidden;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario h4 {
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  grid-column: 1/3;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario fieldset input {
  width: 99%;
  height: 25px;
  padding: 0 0.4em;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario fieldset label {
  font-size: 1.2em;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario .nome {
  grid-column: 1/3;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario .preco input, .conteudo-compras-semana .conteudo-compras-semana-formulario .quantidade input {
  width: 98%;
}
.conteudo-compras-semana .conteudo-compras-semana-formulario button {
  width: 90%;
  padding: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
  justify-self: center;
  margin-top: 1em;
  background-color: #0a0e70;
  border-radius: 6px;
  color: #fff;
  border: none;
  border: solid 1px #000;
  box-shadow: 2px 2px 4px #000;
}
.conteudo-compras-semana .conteudo-compras-semana-lista {
  background-color: red;
  margin-top: 1em;
  padding: 0.5em;
}
.conteudo-compras-semana .conteudo-compras-semana-lista h3 {
  font-size: 1.5em;
  text-align: center;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 0.7em;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li {
  display: flex;
  flex-direction: column;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div {
  padding: 0.2em;
  border-radius: 6px;
  color: #fff;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child {
  background-color: #0a0e70;
  display: grid;
  grid-template-columns: 20% 1fr 80px 30px;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child p {
  font-size: 1.4em;
  display: flex;
  align-items: center;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child p:first-child {
  justify-content: center;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child p:nth-child(2) {
  justify-content: start;
  margin-left: 0.2em;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child div {
  display: flex;
  flex-direction: column;
  grid-column: 4/5;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child div button {
  font-size: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  color: #fff;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child div button:first-child {
  background-color: #D21312;
  margin-bottom: 0.2em;
}
.conteudo-compras-semana .conteudo-compras-semana-lista ul li div:first-child div button:last-child {
  background-color: #dbc500;
}

@font-face {
  font-family: DollarBill;
  src: url("../fonts/DollarBill.ttf");
}
@keyframes cores {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes offcanvasAbrir {
  0% {
    left: 100%;
    display: none;
  }
  100% {
    left: 20%;
    display: grid;
  }
}
@keyframes offcanvasFechar {
  0% {
    left: 20%;
    display: grid;
  }
  100% {
    left: 100%;
    display: none;
  }
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes crescerBordaBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes aparecerBaloes {
  0% {
    transition: 0.6s;
    opacity: 0;
  }
  100% {
    transition: 0.6s;
    opacity: 1;
  }
}
@keyframes animarFormularioAlterarTarefaAbrir {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animarFormularioAlterarTarefaFechar {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
@media screen and (min-width: 375px) {
  .conteudo-banner .conteudo-banner-texto {
    font-size: 2.4em;
  }
  .conteudo-ancora {
    margin-top: 0.5em;
  }
  .conteudo-lista .conteudo-lista-item h3 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 500px) {
  .conteudo-banner {
    max-width: 400px;
  }
  .conteudo-banner .conteudo-banner-texto {
    font-size: 2.4em;
  }
  .conteudo-formulario {
    max-width: 400px;
  }
  .conteudo-lista .conteudo-lista-item {
    max-width: 400px;
  }
  .conteudo-lista-salvarCompra {
    max-width: 400px;
  }
  .conteudo-precoFinalCompra {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .cabecalho {
    grid-template-columns: 30% 1fr;
  }
  .cabecalho .cabecalho-link {
    grid-template-columns: 20% 1fr;
  }
  .cabecalho .cabecalho-link .cabecalho-link-imagem img {
    width: 80%;
  }
  .cabecalho .cabecalho-link .cabecalho-link-titulo h1 {
    font-size: 2em;
  }
  .cabecalho .cabecalho-link-bars {
    display: none;
  }
  .cabecalho .cabecalho-links {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item {
    flex-grow: 1;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item a {
    text-decoration: none;
    color: #fff;
    position: relative;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item a:hover::before {
    content: "";
    height: 2px;
    background-color: #D21312;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    animation: crescerBordaBottom 0.8s ease-in-out;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item #alterarTema {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: solid 2px #000;
    box-shadow: 1px 1px 2px 1px #000;
    background: transparent;
    width: 50px;
    height: 25px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    transition: 0.6s ease;
    cursor: pointer;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item #alterarTema::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: #ED2B2A;
    box-shadow: 0 0 3px 1px #000;
    transition: 0.6s ease;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item #alterarTema:checked {
    background-color: #100244;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item #alterarTema:checked::before {
    transform: translate(100%);
    transition: 0.6s ease;
    background-color: #D21312;
  }
  .conteudo-banner {
    display: grid;
    max-width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  .conteudo-banner img {
    align-self: center;
    justify-self: center;
  }
  .conteudo-banner .conteudo-banner-texto {
    font-size: 2.6em;
    align-self: center;
    justify-self: center;
  }
  .conteudo-ancora {
    margin-top: 0em;
  }
  .conteudo-formulario {
    max-width: 400px;
  }
  .conteudo-lista {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 1.5em auto;
    flex-wrap: wrap;
    -moz-column-gap: 1.5em;
         column-gap: 1.5em;
    justify-content: space-between;
  }
  .conteudo-lista .conteudo-lista-item {
    margin: 0;
    display: flex;
    max-width: 330px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .conteudo-lista-salvarCompra {
    max-width: 90%;
  }
  .conteudo-precoFinalCompra {
    max-width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .cabecalho {
    grid-template-columns: 25% 1fr;
  }
  .cabecalho .cabecalho-link .cabecalho-link-titulo h1 {
    font-size: 2.4em;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item {
    margin-top: 0.5em;
  }
  .cabecalho .cabecalho-links .cabecalho-links-item a {
    font-size: 1.3em;
  }
  .conteudo-banner {
    max-width: 85%;
  }
  .conteudo-banner .conteudo-banner-texto {
    font-size: 3.2em;
  }
  .conteudo-ancora {
    margin-top: -15px;
  }
}/*# sourceMappingURL=style.css.map */