@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@keyframes piscarBarra {
  0% {
    opacity: 1%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
@keyframes animarBordaFormulario1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animarBordaFormulario2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animarBordaFormulario3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animarBordaFormulario4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #FF9A00;
  overflow-x: hidden;
}

@keyframes piscarBarra {
  0% {
    opacity: 1%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
@keyframes animarBordaFormulario1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animarBordaFormulario2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animarBordaFormulario3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animarBordaFormulario4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
header {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 60px;
}
header a {
  display: grid;
  grid-template-columns: 70px 1fr;
  text-decoration: none;
  color: #fff;
  font-family: "Madimi One", sans-serif;
  grid-column: 1/2;
}
header a img {
  grid-column: 1/2;
  width: 90%;
  justify-self: center;
  align-self: center;
}
header a h1 {
  grid-column: 2/3;
  width: 100%;
  align-self: center;
  margin-top: 8px;
  font-size: 2.5em;
}
header button {
  grid-column: 2/3;
  background: transparent;
  border: none;
  font-size: 2.5em;
  align-self: end;
  margin-bottom: 5px;
  color: #fff;
  margin-right: 0.5em;
}

@media screen and (min-width: 768px) {
  header {
    grid-template-columns: 1fr 85px;
  }
  header a {
    grid-template-columns: 100px;
  }
  header a h1 {
    font-size: 3.5em;
    margin-top: 15px;
  }
  header button {
    align-self: center;
    margin-bottom: 0;
    font-size: 4em;
    margin-top: 10px;
    margin-right: 1em;
  }
}
@keyframes piscarBarra {
  0% {
    opacity: 1%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
@keyframes animarBordaFormulario1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animarBordaFormulario2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animarBordaFormulario3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animarBordaFormulario4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.banner {
  width: 90%;
  margin: 2em auto 0 auto;
  color: #fff;
}
.banner h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.8em;
  text-align: center;
}
.banner h2 strong {
  font-weight: bold;
  color: #124076;
}
.banner img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 425px) {
  .banner h2 {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 0.5em;
  }
  .banner h2 {
    font-size: 2.5em;
    justify-self: center;
    align-self: center;
  }
  .banner img {
    width: 100%;
    justify-self: center;
    align-self: center;
  }
}
@media screen and (min-width: 1220px) {
  .banner h2 {
    font-size: 3.5em;
    justify-self: center;
    align-self: center;
  }
  .banner img {
    width: 85%;
    justify-self: center;
    align-self: center;
  }
}
@keyframes piscarBarra {
  0% {
    opacity: 1%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
@keyframes animarBordaFormulario1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animarBordaFormulario2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animarBordaFormulario3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animarBordaFormulario4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.container__formulario {
  width: 90%;
  font-family: "Oswald", sans-serif;
  max-width: 650px;
  background-color: #0058bd;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 1em;
  color: #fff;
}
.container__formulario span {
  position: absolute;
  z-index: 2;
}
.container__formulario span:first-of-type {
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent, #124076);
  width: 100%;
  height: 3px;
  animation: animarBordaFormulario1 2s linear infinite;
}
.container__formulario span:nth-of-type(2) {
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, #124076);
  width: 3px;
  height: 100%;
  animation: animarBordaFormulario2 2s linear infinite;
  animation-delay: 1s;
}
.container__formulario span:nth-of-type(3) {
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, transparent, #124076);
  width: 100%;
  height: 3px;
  animation: animarBordaFormulario3 2s linear infinite;
}
.container__formulario span:last-of-type {
  top: 0;
  left: 0;
  background: linear-gradient(to left, transparent, #124076);
  width: 3px;
  height: 100%;
  animation: animarBordaFormulario4 2s linear infinite;
  animation-delay: 1s;
}
.container__formulario .container__formulario__banner {
  display: grid;
}
.container__formulario .container__formulario__banner p {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  align-self: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 425px) {
  .container__formulario .container__formulario__banner p {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 768px) {
  .container__formulario .container__formulario__banner p {
    font-size: 2.4em;
  }
}
.container__formulario .container__formulario__form {
  display: grid;
  grid-template-columns: 1fr 60px;
}
.container__formulario .container__formulario__form fieldset {
  border: none;
  margin: 0;
}
.container__formulario .container__formulario__form fieldset label {
  font-size: 1.3em;
}
.container__formulario .container__formulario__form fieldset input, .container__formulario .container__formulario__form fieldset select {
  height: 23px;
  padding: 0 0.5em;
}
.container__formulario .container__formulario__form .container__formulario__form__nome {
  grid-row: 1/2;
  grid-column: 1/2;
}
.container__formulario .container__formulario__form .container__formulario__form__nome input {
  width: 95%;
}
.container__formulario .container__formulario__form .container__formulario__form__unidade {
  grid-row: 1/2;
  grid-column: 2/3;
}
.container__formulario .container__formulario__form .container__formulario__form__unidade label {
  text-align: center;
  width: 100%;
  display: block;
}
.container__formulario .container__formulario__form .container__formulario__form__unidade select {
  width: 100%;
  text-align: center;
}
.container__formulario .container__formulario__form .container__formulario__form__categoria {
  grid-row: 2/3;
  grid-column: 1/2;
}
.container__formulario .container__formulario__form .container__formulario__form__categoria select {
  width: 95%;
}
.container__formulario .container__formulario__form .container__formulario__form__quantidade {
  grid-row: 2/3;
  grid-column: 2/3;
}
.container__formulario .container__formulario__form .container__formulario__form__quantidade label {
  display: block;
  text-align: center;
}
.container__formulario .container__formulario__form .container__formulario__form__quantidade input {
  width: 100%;
  text-align: center;
}
.container__formulario .container__formulario__form .container__formulario__form__btns {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.container__formulario .container__formulario__form .container__formulario__form__btns button {
  flex-grow: 1;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.4em 0;
  margin-top: 1em;
  background-color: #FF9A00;
  color: #fff;
  border-radius: 5px;
}

@keyframes piscarBarra {
  0% {
    opacity: 1%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
@keyframes animarBordaFormulario1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animarBordaFormulario2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animarBordaFormulario3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animarBordaFormulario4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.lista {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.5em auto 0 auto;
}
.lista .lista__categoria {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 340px;
  background-color: #0058bd;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  box-shadow: 0 0 5px 2px black;
  position: relative;
  margin: 0 auto;
}
.lista .lista__categoria .lista__categoria__preco__final {
  display: block;
  background-color: #FF9A00;
  padding: 0.2em 0;
  text-align: center;
  margin-top: 0.5em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 2px black;
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.lista .lista__categoria .lista__categoria__preco__final strong {
  color: red;
  text-shadow: none;
}
.lista .lista__categoria .lista__categoria__btnExcluirLista {
  background-color: red;
  position: absolute;
  top: 5%;
  right: 2.5%;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("../../assets/imgs/botao-excluir.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 2px 1px black;
}
.lista .lista__categoria .lista__categoria__titulo {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
  text-shadow: 0 0 2px #000;
  text-transform: uppercase;
}
.lista .lista__categoria .lista__categoria__lista {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__coletado {
  background-color: green !important;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container {
  display: grid;
  grid-template-columns: 40px 1fr 80px 50px;
  position: relative;
  background-color: #124076;
  border: solid 1px black;
  color: white;
  height: 40px;
  padding: 0.2em 0.2em 0.2em 0.2em;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__quantidade {
  grid-column: 1/2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__produto {
  grid-column: 2/3;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  line-height: 1;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco {
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco p {
  font-size: 0.6em;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco input {
  width: 90%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  font-size: 0.7em;
  padding: 0.1em 0.3em;
  height: 20px;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco button {
  z-index: 3;
  position: absolute;
  right: 5%;
  top: 35%;
  width: 20px;
  height: 20px;
  border-radius: 0 5px 5px 0;
  background-color: green;
  color: white;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco__definido {
  background-color: #3c73b3;
  height: 100%;
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco__definido p {
  grid-row: 1/3;
  grid-column: 1/2;
  font-size: 0.9em;
  position: relative;
  align-self: center;
  top: 0;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco__definido button {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 15px;
  font-size: 0.8em;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco__definido button:nth-of-type(1) i {
  color: yellow;
  box-shadow: 0 0 1px black;
  background-color: black;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__preco__definido button:last-child i {
  color: red;
  box-shadow: 0 0 1px black;
  background-color: black;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__btns {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 2px;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__btns button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__btns button i {
  font-size: 1.3em;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__btns .btn__concluir {
  grid-row: 1/3;
  grid-column: 2/3;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../../assets/imgs/botao-concluir.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__btns .btn__alterar {
  color: yellow;
  background-image: url("../../assets/imgs/botao-alterar-tarefa.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__container .lista__categoria__item__btns .btn__excluir {
  color: red;
  background-image: url("../../assets/imgs/botao-excluir.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 2.5px;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa {
  background-color: #124076;
  color: white;
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  grid-template-rows: 48px 48px 48px auto;
  padding: 0.5em;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa fieldset input {
  width: 90%;
  height: 22px;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa fieldset select {
  height: 22px;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__nome {
  grid-row: 1/2;
  grid-column: 1/3;
  padding-right: 2px;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__nome input {
  width: 100%;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__tipo {
  grid-row: 1/2;
  grid-column: 3/4;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__categoria {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__preco {
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__quantidade {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__quantidade input {
  width: 100%;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__botoes {
  grid-row: 3/4;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 1em;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__botoes button {
  width: 95%;
  font-size: 1em;
  padding: 0.5em 0;
  font-weight: bold;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__botoes button:first-child {
  justify-self: start;
}
.lista .lista__categoria .lista__categoria__lista .lista__categoria__lista__item .lista__categoria__lista__item__alterar__tarefa .alterar__tarefa__botoes button:last-child {
  justify-self: end;
}

@keyframes piscarBarra {
  0% {
    opacity: 1%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
@keyframes animarBordaFormulario1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animarBordaFormulario2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animarBordaFormulario3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animarBordaFormulario4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
footer {
  margin-top: 2em;
  text-align: center;
  background-color: #124076;
  color: white;
  padding: 0.7em;
  font-family: "Madimi One", sans-serif;
}
footer strong {
  font-weight: 500;
  color: #FF9A00;
}/*# sourceMappingURL=style.css.map */